<h1>Crear cuenta</h1>

<form (ngSubmit)="createAccount()" #createAccountForm="ngForm">
  <div>
    <label for="firstName">Nombre</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>
  </div>

  <div>
    <label for="lastName">Apellido</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>
  </div>

  <div>
    <label for="email">Correo electrónico</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required>
  </div>

  <div>
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  </div>

  <button type="submit" [disabled]="!createAccountForm.form.valid">Crear cuenta</button>
</form>